 <% layout('layouts/boilerplate')-%>
  <body> 
    <% if (typeof added !== "undefined" && added === true) { %>

    <div
        id="cartMessage"
        class="alert alert-success text-center cart-message"
    >
        Item added to cart successfully.
    </div>

<% } %>
     <h1 style="margin-left: 450px; margin-top: 100px;">  <img style= "width: 200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgu5GeScWwcwtFlhaom9xVNd8Yu414tCfZFg&s"> <i>Menu Selection</i></h1>
      <div class="container"> 
        
   <% for(let menu of allMenus) { %>
   <div class="card" style="border: 1px solid black;">
     
  
     <img src="<%= menu.image %>" alt="<%= menu.title %>" style="height: 200px; width: 200px; border-radius: 50%;">
       <div class="card-body"> 
         <h4><i> <%= menu.title %></i></h4>
        <h5> <i> <%= menu.description %></i></h5>
        <p><b>  Price : ₹<%= menu.price %></b> </p>
        <a href="/add-to-card/<%=menu._id%>" class="btn btn-primary">ADD CARD</a>
       </div>
      
     </div>
     <% }%>
 </div>
<script>
    const cartMessage = document.getElementById("cartMessage");

    if (cartMessage) {
        setTimeout(() => {
            cartMessage.style.display = "none";
        }, 2000);
    }
</script>
 </body>